body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    /* background-color: black; */
}
main{
    display: grid;
    grid-template-rows: 1fr repeat(3, minmax(auto, 50px)) 3fr;
    height: 100%;
}
.functions{
    display: flex;
}
.keys{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7,1fr);
}